[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
precountify = {editable = true,extras = ["madmom"],path = "."}
pytest = "*"
flake8 = "*"
twine = "*"
wheel = "*"

[packages]
importlib-metadata = "*"

[scripts]
test = "pytest"
lint = "flake8 precountify tests"
build = "python setup.py sdist bdist_wheel"
clean = "rm -rf build dist precountify.egg-info"
test-upload = "twine upload -s -r test dist/*"
upload = "twine upload -s -r pypi dist/*"
