[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
precountify = {editable = true,extras = ["madmom"],path = "."}
pytest = "*"
flake8 = "*"

[packages]
fire = "*"
librosa = "*"
